# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Databases
*.db
*.sqlite
*.sqlite3
*.db-journal
*.db-wal
*.db-shm
2gis_data.db

# Environment variables and secrets
.env
.env.*
proxies.txt

# Virtual environments
venv/
.venv/
ENV/

# IDE & Editor settings
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
